@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');


:root{
    --bg-primary:#198754;
    --bg-secondary: white;
    --bg-gray :#6c757d;
    --bg-lightgray:#d2d2d2;
    --font-blue:#0a58ca;
    --font-lightgray:#707579;
    --font:white;
    --font-focus:red;}
body{
    overflow-x: hidden;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 100%;
    height: 100%;
    
} 
body,input,textarea,span,p {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  
::-webkit-scrollbar{background-color: white;width: 5px;}
::-webkit-scrollbar-thumb{background-color: #707579;}

#SideBar{
    position: absolute;
    width: 20%; 
    height: 100%; 
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: 0;
    box-sizing: border-box;
    z-index: 10;
    background-color: var(--bg-secondary);}
    
#MessageBox {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 80%;
    height: 90%;
    overflow-y: auto;}

.MessageRow {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    max-width: 70%;
}


.MessageRow.sent {
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-left: auto;
}

.MessageRow.received {
    align-self: flex-start;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 0;
}

.ProfileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.MessageContent {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    background-color: var(--bg-secondary);
    padding: 15px;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    color: black;
}
.MessageRow.sent .MessageContent {
    background-color: var(--bg-primary);/* رنگ سبز ملایم */
    color: var(--font); /* اختیاری: فونت سفید برای وضوح بیشتر */
}



#Messages span{font-weight: bold;}
.ActiveChat{background-color: var(--bg-primary);color: var(--font);}
.ChatBOX{
    display: flex;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 85%;
    height: 120px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.ChatBOX img {margin: 15px;   width: 25%;border-radius: 50px;}
.ChatBOX span{margin-left: auto;} 

#Inputs {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;       
    left: 0;
    width: 80%;
    height: 10%;}

#Inputs #box{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 65%;
    background-color: var(--bg-secondary);
    border: 5px 5px 5px solid;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    }
.emoji-input{
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: #707579;


}
#Inputs #box textarea{
margin: 5px;
margin-left: auto;
margin-right: auto;
width: 80%;
outline: none;
border: none;

}
#box:has(textarea:focus) {
    border: 3px solid var(--font-blue); /* ضخامت، نوع، رنگ */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease-in-out;
  }  
.attach-input{
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
    color: #707579;
    cursor: pointer;
    transform: rotate(30deg);}
#Inputs .SendButton{
    background-color: var(--bg-primary);
    color: var(--font);
    border: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: xx-large;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    left: 77%;}  
#TopMenu{
display: flex;
margin: 10px;
}
#SearchInput{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid var(--font-lightgray);
    direction: rtl;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}  
#TopMenu .bi-list{
    font-size: xx-large;
    margin-left: auto;
}
#SearchBox{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 94%;
    background-color: white;
    display: none;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    z-index: 9999;}

.SearchItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;}
.SearchItem:hover{background-color: #70757957;}
.SearchItem img{
    width: 60px;
    border-radius: 50%;
}
.SearchItem span{
    margin: 10px;
    margin-left: auto;
    font-size: larger;
    font-weight: bold;}
    .media-box {
        position: relative;
        margin-bottom: 20px;
    }
    .media-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .media-menu button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .media-menu button:hover {
        background-color: #ddd;
    }


.dropmenu{
    width: max-content;
    height: max-content;
    background-color: var(--bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    padding: 15px;
    color: black;
    display:none;
    z-index: 1;
    position: fixed;
} 

.dropitem{
   margin: 5px;
   text-align: center;
   width: 90%;
   height: 30px;
   display: flex;
   justify-content: center; /* وسط چین افقی */
   align-items: center; 
   padding: 5px;
   
}
.dropitem:hover{
    background-color: var(--bg-gray);
    color: var(--font);
    border-radius: 10px;
    cursor: pointer;
}

.dropitem i{
    margin-left: auto;
}
#SettingsSideBar{
    position: absolute;
    display: none;
    width: 20%; 
    height: 100%; 
    top: 0;
    right: -20%;
    margin-top: 0;
    margin-left: 0;
    z-index: 8888;
    transition: right 0.3s ease-out; /* انیمیشن نرم برای باز شدن منو */
    background-color: var(--bg-secondary);}
#SettingsSideBar.open {
    display: block;
    right: 0; /* منو به موقعیت اولیه خود منتقل می‌شود */
}


.SettingsTopMenu{
    display:flex;
    padding: 10px;
    padding-block-end: 0px;
    font-size: 1.5rem;
    
}
.SettingsTopMenu span{
margin-left: auto;
margin-right: auto;

}
.SettingsTopMenu i{
    cursor: pointer;
}
.SettingsItem{
width: 85%;
height: 15px;
cursor: pointer;
padding: 20px;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
text-align: right;
justify-content: center;
}
.SettingsItem i {
    padding-left: 20px;
}
.SettingsItem:hover{
    background-color: var(--bg-gray);
    color: var(--font);
}

.ProfilePicture{
    width: 98%;
    height: 300px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;}
.ProfilePicture img {
    width: 100%;
    height: auto;
    object-position: center;
    border-radius: 15px;}

.hr{
    width: 100%;
    height: 5px;
    background-color: var(--bg-lightgray);
    margin-bottom: 5px;
}
.SettingsPage{
    display: none;
    position: absolute;
    width: 20%; 
    height: 100%; 
    top: 0;
    right: -20%;
    margin-top: 0;
    margin-left: 0;
    z-index: 9999;
    transition: right 0.3s ease-out; /* انیمیشن نرم برای باز شدن منو */
    background-color: var(--bg-secondary);}
.SettingsPage.open {
    display: block;
    right: 0; /* منو به موقعیت اولیه خود منتقل می‌شود */
}
.SettingsPage .Content{
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.ProfilePictureSelect{
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;          
    border: 5px solid var(--bg-lightgray);
    display: flex;
    cursor: pointer;
}
.ProfilePictureSelect i {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* اضافه کردن سایه به متن */
}

.EditInputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.EditInputs button{
    background-color: var(--bg-primary);
    color: var(--font);
}
.EditInputs input,button{
    direction: rtl;
    width: 80%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 1px solid var(--font-blue);
    font-size: 1.1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}
#TopContent{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 10%;
    background-color: var(--bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#TopContent span{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}
#TopContent img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
#TopContent i{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}
#TopContent .bi-menu-button-wide{
    margin-right: 10px;
}
#TopContent i:hover ,#TopContent span:hover,#TopContent img:hover{
    cursor: pointer;
    color: var(--bg-primary);
}@media (max-width: 768px) {
    #SideBar{
        width: 100%;
    }
    #MessageBox{
        width: 100%;
    }
    #TopContent{
        width: 100%;
    }
    #Inputs{
        width: 100%;
    }
    #Inputs #box{
        width: 60%;
        margin-right: auto;
    }
    .SettingsPage,#SettingsSideBar{
        width: 100%;
    }

}

